# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/

backend_db_plan.md
landing_page_plan.md
group_feature_plan.md

# Environment files
.env
.env.local
web/.env.local

# Google client secrets
client_secret_281975303040-a1nmhqavi7e12baj8rf1u7j9pnsdqp9b.apps.googleusercontent.com.json.claude/worktrees/
client_secret_*.json
